@import '~node_modules/modern-normalize/modern-normalize.css';

.button.load-more {
  display: none;
}
.search-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: gray;
    border: 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.load-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px; 
    margin-top: 10px;
}

.info {
    display: flex;
    text-align: center;
    flex-grow: 2;
    justify-content: space-evenly;
    }

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
  }

.gallery__image {
    max-width: 100%;
    width: 350px;
    height: 250px;
    object-fit: cover;
 }

 .gallery__item {
    display: flex;
    flex-wrap: wrap;
 }

 .photo-card {
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    display: block;
    max-width: 100%;
    object-fit: cover;
    
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
  }